<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>51wish.cn-admin - 首页</title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container am-g common-page index-page">

    <fieldset>

        <div class="am-g am-container">
            <div class="am-u-lg-12">
                
                <div>
                    本月支出：<span id="month-expenses"><%= earningMonth.expenses %></span> | 收入：<span id="month-income"><%= earningMonth.income %></span> | 盈收：<span class="am-badge am-badge-success am-text-default"><%= earningMonth.earning %></span>
                </div>

                <hr>

                <div id="chart-earning"></div>

                <hr>

                <div class="am-g">

                    <div class="am-u-lg-6 am-u-md-4 am-u-sm-12">
                        <h4><a class="more" href="/purchase">查看更多 <i class="am-icon-angle-right"></i></a>最近商品采购列表</h4>
                        <table class="am-table">
                            <thead>
                            <tr>
                                <th>订单名称</th>
                                <th>物流方式</th>
                                <th>创建时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i < purchase.length; i++) {%>
                            <tr>
                                <td><a href="/purchase/edit/<%= purchase[i].get('purchaseId') %>"><%= purchase[i].get('name')
                                    %></a></td>
                                <td>
                                    <% if(purchase[i].get('shippingType') === 'tianji') { %>天际<%  } %>
                                    <% if(purchase[i].get('shippingType') === 'zhuanyunbang') { %>转运帮<%  } %>
                                    <% if(purchase[i].get('shippingType') === '8dexpress') { %>八达<%  } %>
                                    <% if(purchase[i].get('shippingType') === 'direct') { %>直邮<%  } %>
                                </td>
                                <td>
                                    <%=purchase[i].createdAt.getFullYear()%>-<%=(purchase[i].createdAt.getMonth()+1)%>-<%=purchase[i].createdAt.getDate()%>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-lg-6 am-u-md-8 am-u-sm-12">
                        <h4><a class="more" href="/order">查看更多 <i class="am-icon-angle-right"></i></a>最近发货订单列表</h4>
                        <table class="am-table">
                            <thead>
                            <tr>
                                <th>订单名称</th>
                                <th>收件人</th>
                                <th>创建时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i < order.length; i++) {%>
                            <tr>
                                <td><a href="/order/edit/<%= order[i].get('orderId') %>"><%= order[i].get('orderName')
                                    %></a></td>
                                <td><a title="<%= order[i].get('shippingAddress') %>"
                                       href="/customer/edit/<%= order[i].get('customerId') %>"><%=
                                    order[i].get('customerName') %></a></td>
                                <td>
                                    <%=order[i].createdAt.getFullYear()%>-<%=(order[i].createdAt.getMonth()+1)%>-<%=order[i].createdAt.getDate()%>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>

                    </div>
                </div>

                <hr>
                
            </div>
        </div>

    </fieldset>

</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script src="/js/echarts.min.js"></script>
<script type="text/javascript">
    $(function () {

        var index = require('index');

        var chartEarning = {
            expenses: <%- JSON.stringify(earningTotal.expenses) %>,
            income:<%- JSON.stringify(earningTotal.income) %>,
            earning:<%- JSON.stringify(earningTotal.earning) %>,
            date:<%- JSON.stringify(earningTotal.date) %>
        };

        index.indexFun(chartEarning);
        });
</script>
</body>
</html>