<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page product-book-page">

    <% if (flash.success != '') { %>
    <div class="am-alert am-alert-success">
        <p><%= flash.success %></p>
    </div>
    <% } %>
    
        <fieldset>

            <legend><a href="/product-book">客户产品预定列表</a></legend>

            <form class="am-form-inline" role="form" action="/product-book">
                <div class="am-form-group">
                    <input type="text" name="search-product" class="am-form-field" placeholder="搜索产品名称">
                </div>
                <div class="am-form-group">
                    <input type="text" name="search-name" class="am-form-field" placeholder="搜索姓名">
                </div>
                <button type="submit" class="am-btn am-btn-primary">搜索</button>

                <span class="split small-screen-hide"></span>
                
                <div class="am-form-group">
                    <label><input type="checkbox" class="ckb-search-state" name="search-state" <%if(searchState){%>checked="checked"<%}%>> 查看未完成订单</label>
                </div>
                
            </form>

            <hr/>
            
            <table class="am-table">
                <thead>
                <tr>
                    <th>产品名</th>
                    <th width="120" class="t-c">客户姓名</th>
                    <th width="120" class="t-c">预定日期</th>
                    <th width="120" class="small-screen-hide t-c">更新日期</th>
                    <th width="50" class="small-screen-hide t-c">删除</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < productBook.length; i++) {%>
                <tr class="<%= states[i]%>">
                    <td>
                        <a href="/product-book/edit/<%= productBook[i].get('productBookId') %>">
                            <% for(var j=0;j < productBook[i].get('productName').length;j++) { %>
                                <%= productBook[i].get('productName')[j] %>
                                <% if(j < productBook[i].get('productName').length-1) { %>|<%}%>
                            <%}%>
                        </a></td>
                    <td class="t-c"><a href="/customer/edit/<%= productBook[i].get('customerId') %>"><%= productBook[i].get('customerName') %></a></td>
                    <td class="t-c"><%=productBook[i].createdAt.getFullYear()%>/<%=(productBook[i].createdAt.getMonth()+1)%>/<%=productBook[i].createdAt.getDate()%></td>
                    <td class="small-screen-hide t-c"><%=productBook[i].updatedAt.getFullYear()%>/<%=(productBook[i].updatedAt.getMonth()+1)%>/<%=productBook[i].updatedAt.getDate()%></td>
                    <td class="small-screen-hide t-c"><a href="/product-book/remove/<%= productBook[i].get('productBookId') %>" class="remove-product-book">删除</a></td>
                </tr>
                <% } %>
                </tbody>
            </table>
            
            <ul class="am-pagination">
                <% if (productBookPager.prev) { %> <li>
                    <a href="/product-book?page=<%= productBookPager.prev %><% if(searchProductBookTitle) {%>&search-product-book-title=<%=searchProductBookTitle%> <%}%>">上一页</a></li> <% } %>
                <% if (productBookPager.next) { %> <li>
                    <a href="/product-book?page=<%= productBookPager.next %><% if(searchProductBookTitle) {%>&search-product-book-title=<%=searchProductBookTitle%> <%}%>">下一页</a></li> <% } %>
                <li class="count">第<%=productBookPager.page%>页 共<%= productBookCount %>条</li>
            </ul>
            
            <hr/>

            <div class="am-form-group">
                <a href="/product-book/add" class="am-btn am-btn-primary" role="button">添加预定记录</a>
            </div>

        </fieldset>


</div>


<div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-remove-product-book">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var productBook = require('product-book');
        productBook.indexFun();
    });
</script>
</body>
</html>