<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page">

    <% if (flash.success != '') { %>
    <div class="am-alert am-alert-success">
        <p><%= flash.success %></p>
    </div>
    <% } %>
    
        <fieldset>

            <legend><a href="/order">发货订单列表</a></legend>

            <form class="am-form-inline" role="form" action="/order">
                <div class="am-form-group">
                  搜索订单名：<input type="text" name="search-order-name" class="am-form-field" placeholder="搜索">
                </div>
                <span></span>
                <div class="am-form-group">
                    搜索收货人/客户姓名：<input type="text" name="search-customer-name" class="am-form-field" placeholder="搜索">
                </div>
                <button type="submit" class="am-btn am-btn-primary">搜索</button>
            </form>

            <hr/>
            
            <table class="am-table">
                <thead>
                <tr>
                    <th>订单名称</th>
                    <th>收件人</th>
                    <th>淘宝名</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th class="small-screen-hide">更新时间</th>
                    <th class="small-screen-hide">删除</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < order.length; i++) {%>
                <tr>
                    <td><a href="/order/edit/<%= order[i].get('orderId') %>"><%= order[i].get('orderName') %></a> </td>
                    <td><a title="<%= order[i].get('shippingAddress') %>" href="/customer/edit/<%= order[i].get('customerId') %>"><%= order[i].get('customerName') %></a> </td>
                    <td><%= customer[i].get('taobao') %></td>
                    <td><% if (order[i].get('shippingStatus') === 'shipped' ) { %>已发货<% } else { %><strong>未发货</strong><% } %></td>
                    <td><%=order[i].createdAt.getFullYear()%>-<%=(order[i].createdAt.getMonth()+1)%>-<%=order[i].createdAt.getDate()%></td>
                    <td class="small-screen-hide"><%=order[i].updatedAt.getFullYear()%>-<%=(order[i].updatedAt.getMonth()+1)%>-<%=order[i].updatedAt.getDate()%></td>
                    <td class="small-screen-hide"><a href="/order/remove/<%= order[i].get('orderId') %>" class="remove-order">删除</a> </td>
                </tr>
                <% } %>
                </tbody>
            </table>
            
            <ul class="am-pagination">
                <% if (orderPager.prev) { %> <li>
                    <a href="/order?page=<%= orderPager.prev %><% if(searchOrderName) {%>&search-order-name=<%=searchOrderName%> <%}%><% if(searchCustomerName) {%>&search-customer-name=<%=searchCustomerName%> <%}%>">上一页</a></li> <% } %>
                <% if (orderPager.next) { %> <li>
                    <a href="/order?page=<%= orderPager.next %><% if(searchOrderName) {%>&search-order-name=<%=searchOrderName%> <%}%><% if(searchCustomerName) {%>&search-customer-name=<%=searchCustomerName%> <%}%>">下一页</a></li> <% } %>
                <li class="count">第<%=orderPager.page%>页 共<%= orderCount %>条</li>
            </ul>
            
            <hr/>

            <div class="am-form-group">
                <a href="/order/add" class="am-btn am-btn-primary" role="button">添加新订单</a>
            </div>

        </fieldset>


</div>


<div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-remove-order">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var order = require('order');
        order.indexFun();
    });
</script>
</body>
</html>