<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page order-page">

    <% if (flash.success != '') { %>
    <div class="am-alert am-alert-success">
        <p><%= flash.success %></p>
    </div>
    <% } %>
    
        <fieldset>

            <legend><a href="/order">发货订单列表</a></legend>
            
            <form role="form" action="/order" class="am-g am-form">

                <input type="hidden" id="limit" name="limit" value="<%= limit %>">
                <input type="hidden" id="search-not-shipped" name="search-not-shipped" value="<%= searchNotShipped %>">
                <input type="hidden" id="search-shipping" name="search-shipping" value="<%= searchShipping %>">
                
                <div class="am-u-lg-2 am-u-sm-4">
                    <input type="text" name="search-order-name" class="am-form-field" placeholder="搜索订单名">
                </div>
                
                <div class="am-u-lg-2 am-u-sm-4">
                    <input type="text" name="search-customer-name" class="am-form-field" placeholder="搜索淘宝/用户名">
                </div>
                
                <div class="am-u-lg-2 small-screen-hide">
                    <input type="text" name="search-address" class="am-form-field" placeholder="搜索姓名/地址">
                </div>
                
                <div class="am-u-lg-1 am-u-sm-4">
                    <button type="submit" class="am-btn am-btn-primary">搜索</button>
                </div>

                <div class="am-u-lg-2 am-u-sm-4 am-u-end">
                    <select name="search-shipping" class="select-shipping">
                        <option value="">所有快递</option>
                        <option value="zhongtong" <%if(searchShipping=='zhongtong'){%>selected="selected"<%}%> >中通</option>
                        <option value="shentong" <%if(searchShipping=='shentong'){%>selected="selected"<%}%> >申通</option>
                        <option value="shunfeng" <%if(searchShipping=='shunfeng'){%>selected="selected"<%}%> >顺丰</option>
                        <option value="tiantian" <%if(searchShipping=='tiantian'){%>selected="selected"<%}%> >天天</option>
                        <option value="kuaijie" <%if(searchShipping=='kuaijie'){%>selected="selected"<%}%> >快捷</option>
                        <option value="other" <%if(searchShipping=='other'){%>selected="selected"<%}%> >其他</option>
                    </select>
                </div>

                <div class="am-u-lg-2 am-u-sm-4 am-u-end">
                    <label class="normal">未发货：<input type="checkbox" class="ckb-not-shipped" <%if(searchNotShipped){%>checked="checked"<%}%> /></label>
                </div>
            </form>

            <hr/>

            <div class="am-form-group">
                <a href="/order/add<% if(searchNotShipped){%>?search-notshipped=on<%}%>" class="am-btn am-btn-primary" role="button">添加新订单</a>
                <a href="/order/add?is-new-shop=true<% if(searchNotShipped){%>&search-notshipped=on<%}%>" class="am-btn am-btn-primary" role="button">添加新店新订单</a>
                <span class="sp"></span>
                <label class="normal">只显示主店订单 <input type="checkbox" class="ckb-show-main-shop-order" /></label>
                <span class="sp"></span>
                <label class="normal">只显示新店订单 <input type="checkbox" class="ckb-show-new-shop-order" /></label>
            </div>

            <hr/>
            
            <table class="am-table">
                <thead>
                <tr>
                    <th width="20"></th>
                    <th class="t-c">订单名称</th>
                    <th class="t-c" width="150">用户名</th>
                    <th class="t-c small-screen-hide" width="100">姓名</th>
                    <th class="t-c small-screen-hide" width="60">链接</th>
                    <th class="t-c" width="150">快递</th>
                    <th class="t-c small-screen-hide">时间</th>
                    <th class="t-c small-screen-hide">选项</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < order.length; i++) {%>
                <tr data-order-id="<%= order[i].get('orderId') %>" data-customer-id="<%= order[i].get('customerId') %>" class="<% if (order[i].get('shippingStatus') !== 'shipped' ) { %>off<%}%><% if (order[i].get('isNewShop')) { %> new-shop-order<%} else {%> main-shop-order<%}%>">
                    <td class="t-c">
                        <input order-id="<%= order[i].get('orderId') %>" class="ckb-shipped" type="checkbox" <% if (order[i].get('shippingStatus') === 'shipped' ) { %>checked="checked"<%}%>/>
                    </td>
                <td>
                    <%for(var j=0; j<order[i].get('name').length;j++) {%>
                    <div class="order-split">
                        <span class="image loading-elem on" data-id="<% if(/\{id\:\d+\}/.test(order[i].get('name')[j])){%><%= order[i].get('name')[j].replace(/([^\{]+\{id\:)(\d+)(.*)/,'$2').replace('{','') %><%}%>"></span>
                        <a href="/order/edit/<%= order[i].get('orderId') %><%if(searchNotShipped){ %>?search-notshipped=on<%}%>" <% if(/\{id\:\d+\}/.test(order[i].get('name')[j])){%>title="productId:<%= order[i].get('name')[j].replace(/([^\{]+\{id\:)(\d+)(.*)/,'$2').replace('{','') %>"<%}%>>
                            <% if(order[i].get('isGift')[j]){%>(赠)<%}%>
                            <% if(order[i].get('shippingCount')[j] > 1){ %><strong class="font-red"><%= order[i].get('shippingCount')[j] %></strong><% }else{%><%= order[i].get('shippingCount')[j] %><%}%>*<%= order[i].get('name')[j] %>
                            <% if (order[i].get('isNewShop')) { %><strong>新店</strong><%}%>
                        </a>
                        <% if(/\{id\:\d+\}/.test(order[i].get('name')[j])) {%>
                        <a class="set-stock" product-id="<%= order[i].get('name')[j].replace(/([^\{]+\{id\:)(\d+)(.*)/,'$2').replace('{','') %>" title="设置库存" href="javascript:;"><i class="am-icon am-icon-inbox"></i></a>
                        <a class="update-stock" order-id="<%= order[i].get('orderId') %>" product-id="<%= order[i].get('name')[j].replace(/([^\{]+\{id\:)(\d+)(.*)/,'$2').replace('{','') %>" title="是否已设置库存" href="javascript:;"><i class="am-icon am-icon-check-circle <%if(order[i].get('isShipping')[j]){%>on<%}else{%>off<%}%>"></i></a>
                        <%}%>
                    </div>
                    <%}%>
                </td>
                    <td class="t-c">
                        <a class="customer-name" title="<%= order[i].get('shippingAddress') %>" href="/customer/edit/<%= order[i].get('customerId') %>">
                            <%= order[i].get('customerName') %>
                            <% if(order[i].get('client')){%>(代:<%= order[i].get('client') %>)<%}%>
                            <% if(!order[i].get('isTaobaoUser')){%>(非淘宝)<%}%>
                        </a>
                        <span class="split"></span>
                        <a href="javascript:;" title="复制姓名" class="clipboard-customer-name" data-clipboard-text="<% if(order[i].get('client')){%><%=order[i].get('client')%><%}else{%><%=order[i].get('customerName')%><%}%>"><i class="am-icon am-icon-copy"></i></a>
                        <a href="javascript:;" title="复制地址" class="clipboard-customer-address" data-clipboard-text="<% if(order[i].get('clientAddress')){%><%=order[i].get('clientAddress')%><%}else{%><%=order[i].get('shippingAddress')%><%}%>"><i class="am-icon am-icon-copy"></i></a>
                    </td>
                    <td class="t-c small-screen-hide">
                        <span class="address-name"></span>
                    </td>
                    <td class="t-c small-screen-hide">
                        <%if (order[i].get('shopOrderLink')) { %>
                        <% var shopLinks = order[i].get('shopOrderLink').split('\n'); %>
                        <% for(var j=0;j<shopLinks.length;j++) {%>
                        <a target="_blank" href="<%=shopLinks[j]%>"><i class="am-icon-external-link"></i></a>
                        <%}%>
                        <%}else {%>-<%}%>
                    </td>

                    <td class="t-c">

                        <!-- https://market.aliyun.com/products/56928004/cmapi021863.html?spm=5176.10695662.1996646101.searchclickresult.3a3b61c2izYN0F#sku=yuncode1586300000 -->
                        <!-- 全国快递物流查询 -->

                        <% var shippingCompany = ''; var express = '';
                        if(order[i].get('shippingCompany') == 'tiantian') {
                            shippingCompany = '天天';
                            express = 'TTKDEX';
                        }

                        else if (order[i].get('shippingCompany') == 'shunfeng') {
                            shippingCompany = '顺丰';
                            express = 'SFEXPRESS';
                        }

                        else if (order[i].get('shippingCompany') == 'shunfengkongyun') {
                            shippingCompany = '顺丰空运';
                            express = 'SFEXPRESS';
                        }

                        else if (order[i].get('shippingCompany') == 'shunfengdaofu') {
                            shippingCompany = '顺丰到付';
                            express = 'SFEXPRESS';
                        }

                        else if (order[i].get('shippingCompany') == 'kuaijie') {
                            shippingCompany = '快捷';
                            express = 'FASTEXPRESS';
                        }

                        else if (order[i].get('shippingCompany') == 'other') {
                            shippingCompany = '其他';
                        }

                        else if (order[i].get('shippingCompany') == 'shentong') {
                            shippingCompany = '申通';
                            express = 'STO';
                        }
                        else if (order[i].get('shippingCompany') == 'zhongtong') {
                            shippingCompany = '中通';
                            express = 'ZTO';
                        }
                        %>
                        
                        <% if(order[i].get('trackingNumber')){ %> 
                        <a class="track-order" data-track="<%=order[i].get('trackingNumber')%>" href="<%if(express) { %>//51wish.leanapp.cn/order/express/query/<%=order[i].get('trackingNumber')%>/<%=express%><%}%>" target="_blank"><%= shippingCompany %></a>
                        <%} else {%>
                        <a target="_blank" class="action-shipping-company am-btn am-btn-link disabled" data-order-id="<%= order[i].get('orderId') %>"><%=shippingCompany%></a>
                        <%}%>
                        
                        <span class="split"></span>
                        <a href="javascript:;" title="复制单号" class="clipboard-tracking-number" data-clipboard-text="<%=order[i].get('trackingNumber')%>"><i class="am-icon am-icon-copy"></i></a>
                        
                    </td>

                    <!--
                    <td class="t-c small-screen-hide"> <span class="taobao-name loading-elem on"></span> </td>
                    -->
                    <td class="t-c small-screen-hide"><%=(order[i].get('shippingDate').getMonth()+1)%>/<%=order[i].get('shippingDate').getDate()%></td>
                    <td class="t-c small-screen-hide">
                        
                        <div class="am-dropdown" data-am-dropdown>
                            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>选项 <span class="am-icon-caret-down"></span></button>
                            <ul class="am-dropdown-content">
                                <li><a href="/order/add?name=<%= encodeURIComponent(order[i].get('name')[0]) %>&tracking-number=<%= order[i].get('trackingNumber')%>">复制</a></li>
                                <li><a href="/order/remove/<%= order[i].get('orderId') %>" class="remove-order">删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
            
            <ul class="am-pagination">
                <% if (orderPager.prev) { %> <li>
                    <a href="/order?page=<%= orderPager.prev %><% if(searchOrderName) {%>&search-order-name=<%=searchOrderName%><%}%><% if(searchCustomerName) {%>&search-customer-name=<%=searchCustomerName%><%}%><% if(searchAddress) {%>&search-address=<%=searchAddress%><%}%><% if(searchNotShipped) {%>&search-not-shipped=<%=searchNotShipped%><%}%><% if(limit) {%>&limit=<%=limit%><%}%><% if(searchShipping) {%>&search-shipping=<%=searchShipping%><%}%>">上一页</a></li> <% } %>
                <% if (orderPager.next) { %> <li>
                    <a href="/order?page=<%= orderPager.next %><% if(searchOrderName) {%>&search-order-name=<%=searchOrderName%><%}%><% if(searchCustomerName) {%>&search-customer-name=<%=searchCustomerName%><%}%><% if(searchAddress) {%>&search-address=<%=searchAddress%><%}%><% if(searchNotShipped) {%>&search-not-shipped=<%=searchNotShipped%><%}%><% if(limit) {%>&limit=<%=limit%><%}%><% if(searchShipping) {%>&search-shipping=<%=searchShipping%><%}%>">下一页</a></li> <% } %>
                
                <li class="count">
                    <em>第<%=orderPager.page%>页 共<%= orderCount %>条</em>
                    <select class="select-limit">
                        <option value="">20</option>
                        <option value="40" <%if(limit==40){%>selected="selected"<%}%> >40</option>
                        <option value="60" <%if(limit==60){%>selected="selected"<%}%> >60</option>
                        <option value="80" <%if(limit==80){%>selected="selected"<%}%> >80</option>
                        <option value="100" <%if(limit==100){%>selected="selected"<%}%> >100</option>
                    </select>
                </li>
              
            </ul>
            
            <hr/>

            <div class="am-form-group">
                <a href="/order/add<% if(searchNotShipped){%>?search-notshipped=on<%}%>" class="am-btn am-btn-primary" role="button">添加新订单</a>
                <a href="/order/add?is-new-shop=true<% if(searchNotShipped){%>&search-notshipped=on<%}%>" class="am-btn am-btn-primary" role="button">添加新店新订单</a>
            </div>

        </fieldset>


</div>


<!-- modal 删除order -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-remove-order">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<!-- modal 库存 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="modal-set-stock">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><a href="javascript:;" class="am-close am-close-spin" data-am-modal-close="">×</a></div>
        <div class="am-modal-bd">

            <div class="am-form">

                <label>库存:</label>
                <div class="am-form-inline">
                    <div class="am-form-group">
                        <select name="stock" stock>
                            <% for(var i=0;i<200;i++) { %>
                            <option value="<%=i%>"><%=i%></option>
                            <% }%>
                        </select>
                    </div>
                    <div class="am-form-group">
                        <span><button disabled="disabled" type="button" class="am-btn am-btn-default stock-plus">+1库存</button></span>
                        <span><button disabled="disabled" type="button" class="am-btn am-btn-default stock-minus">-1库存</button></span>
                    </div>
                </div>

                <label>总销量:</label>
                <div class="am-form-inline">
                    <div class="am-form-group">
                        <input type="text" name="sales" readonly="readonly" value="">
                    </div>
                </div>
                <label>库存提醒设置(自动):</label>
                <div class="am-form-inline">
                    <div class="am-form-group">
                        <label><input class="ckb-warning-stock-out" value="0" type="checkbox" name="updateStockDate"> 无库存提醒</label>
                        <span class="sp"></span>
                        <label><input class="ckb-warning-stock-in" value="1" type="checkbox" name="updateStockDate"> 新到货提醒</label>
                    </div>
                </div>
                <div>
                    <button type="button" class="am-btn am-btn-primary stock-save">保存</button>
                    <button type="button" class="am-btn am-btn-primary stock-reset">重置</button>
                </div>
            </div>
            
        </div>
    </div>
</div>


<!-- modal 快递单号查询 -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-track-order">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">快递单号查询 [<span></span>]
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            
        </div>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    
    $(function() {
        var order = require('order');
        order.indexFun();
    });
    
    
</script>
</body>
</html>