<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page">
    
    <% if (flash.success != '') { %>
    <div class="am-panel am-panel-success">
        <div class="am-panel-hd"><h3 class="am-panel-title"><%= flash.success %></h3></div>
    </div>
    <% } %>
    
    <form id="form-add-product" class="am-form" action="" method="post" target="">

        <fieldset>

            <legend>添加产品</legend>

            <!-- name start -->
            <div id="content-name" class="am-form-group">
                <label>产品名称：<i>*</i> </label>
                <input  id="md-code-name" required name="md-code-name" type="text" placeholder="输入产品名称[必填]" />
            </div>
            <!-- name end -->

            <hr/>

            <!-- select category start -->
            <div id="content-category" class="am-form-group am-form-select">
                <label>选择商品分类：<i>*</i> </label>
                <select id="select-category" name="select-category" min="1">
                    <option value="0">请选择商品分类[必填项]</option>
                    <% for (var i=0;i < category.length; i++) { %>
                    <option value="<%= category[i].get('categoryId'); %>"> <%= category[i].get('categoryName'); %> </option>
                    <% } %>
                </select>
                <span class="am-form-caret"></span>
            </div>
            <!-- select category end -->

            <hr/>

            <!-- detail start -->
            <div id="content-detail" class="am-form-group">
                <label>产品详情： <i>*</i> </label>
                <textarea id="md-code-detail" name="md-code-detail" rows="5" placeholder="输入产品详情[必填]" required ></textarea>
            </div>
            <!-- detail end -->

            <hr/>

            <!-- banner start -->
            <div id="content-banner" class="am-form-group am-form-select">
                <label>选择商品匹配的banner：</label>
                <label class="normal"><input class="banner-enable" type="checkbox"/> 不选择</label>
                <select id="select-banner">
                    <option value="0" selected="selected">随机选择</option>
                    <% for(var i=0;i< banner.length; i++) { %>
                      <option value="<%= banner[i].get('bannerId') %>" data-src="<%= banner[i].get('bannerUrl') %>"><%= banner[i].get('bannerText') %></option>
                    <% } %>
                </select>
                <span class="am-form-caret"></span>
            </div>
            <div class="code-banner product-title "></div>

            <input id="md-code-banner" type="text" name="md-code-banner" readonly="readonly" />
            <!-- banner end -->
            
            <hr/>
  
            
            <!-- review start -->
            <div id="content-review" class="am-form-group">
                <label>店主评语： </label>
                <textarea id="md-code-review" name="md-code-review" rows="3" placeholder="输入店主评语"></textarea>
            </div>
            <!-- review end -->

            <hr/>

            <!-- property start -->
            <div id="content-property" class="am-form-group">
                <label>产品属性：</label>
                <textarea id="md-code-property" name="md-code-property" rows="3" placeholder="输入产品属性"></textarea>
            </div>
            <!-- property end -->

            <hr/>


            <!-- instruction start -->
            <div id="content-instruction" class="am-form-group">
                <label>产品说明：</label>
                <textarea id="md-code-instruction" name="md-code-instruction" rows="3" placeholder="输入产品说明"></textarea>
            </div>
            <!-- instruction end -->

            <hr/>
 

            <!-- images start -->
            <div id="content-image" class="am-form-group">
                <label >产品图片：</label>
                <textarea id="md-code-image" name="md-code-image" rows="5" placeholder="输入产品图片"></textarea>
            </div>
            <!-- images end -->

            <hr/>
            
            <!-- video start -->
            <div id="content-video" class="am-form-group">
                <label >产品视频：</label>
                <input  id="md-code-video" name="md-code-video" type="text" placeholder="输入产品视频" />
            </div>
            <!-- video end -->

            <hr/>
            
            <legend>产品链接</legend>

            <!-- product-link start -->
            <div id="content-product-link" class="am-form-group">
                <label>产品链接：</label>
                <input  id="product-link" name="product-link" type="text" placeholder="输入产品链接" />
            </div>
            <!-- product-link end -->

            <hr/>

            <!-- taobao-link start -->
            <div id="content-taobao-link" class="am-form-group">
                <label>淘宝链接：</label>
                <input  id="taobao-link" name="taobao-link" type="text" placeholder="输入淘宝链接" />
            </div>
            <!-- taobao-link end -->

            <hr/>

            <!-- shop-link start -->
            <div id="content-shop-link" class="am-form-group">
                <label>网店链接：</label>
                <input  id="shop-link" name="shop-link" type="text" placeholder="输入网店链接" />
            </div>
            <!-- shop-link end -->

            <hr/>

            <!-- comment start -->
            <div id="content-comment" class="am-form-group">
                <label >备注：</label>
                <textarea id="comment" name="comment" rows="3" placeholder="输入备注"></textarea>
            </div>
            <!-- comment end -->

            <hr/>
            
            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary" data-action="/product/add" data-target="_self">保存</button>
                <button type="submit" class="am-btn am-btn-success" data-action="/product/preview" data-target="_blank">预览</button>
            </div>

        </fieldset>

    </form>
    
</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var product = require('product');
        product.addFun();
    });
</script>
</body>
</html>