<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

    <div class="common-product-view-page">

        <p>
            <button type="button" class="am-btn am-btn-primary btn-copy">复制代码</button>
            <button type="button" class="am-btn am-btn-success btn-shot" disabled="disabled">生成淘宝详情图片</button>
        </p>

        <hr/>
        
        <h4><%- mdCodeName %></h4>

        <hr/>
        
        <div class="preview-content">
           
            <div>

                <% if (mdCodeName) { %>
                <div><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2w6PGhFXXXXa6XXXXXXXXXXXX_!!42879206.png"/></div>
                <%- mdCodeName %>
                <% } %>

                <% if (mdCodeReview) { %>
                <div><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2XdJYhFXXXXbhXpXXXXXXXXXX_!!42879206.png"></div>
                <%- mdCodeReview %>
                <% } %>

                <% if (mdCodeAuthor) { %>
                <div><img src="https://img.alicdn.com/imgextra/i3/42879206/TB20a_LhFXXXXarXXXXXXXXXXXX_!!42879206.png"/> </div>
                <%- mdCodeAuthor %>
                <% } %>

                <% if (mdCodeDescription) { %>
                <div><img src="https://img.alicdn.com/imgextra/i2/42879206/TB2Q7PrhFXXXXX1XpXXXXXXXXXX_!!42879206.png"/> </div>
                <%- mdCodeDescription %>
                <% } %>

                <% if (mdCodeCatalog) { %>
                <div><img src="https://img.alicdn.com/imgextra/i2/42879206/TB20wH7hFXXXXaUXXXXXXXXXXXX_!!42879206.png"/> </div>
                <%- mdCodeCatalog %>
                <% } %>

                <% if (mdCodeImage) { %>
                <div><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2nhPqhFXXXXX3XpXXXXXXXXXX_!!42879206.png"/> </div>
                <%- mdCodeImage %>
                <% } %>

            </div>
            
        </div>

    </div>


    <div class="am-modal am-modal-alert" tabindex="-1" id="modal-shot-success">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">生成成功!</div>
            <div class="am-modal-bd">
                请在/shot目录中查看
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <% include ../partials/js %>

    <script type="text/javascript">
        $(function() {
            var book = require('book');
            book.previewFun();
        });
    </script>

</body>
</html>