<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>


<div class="am-container common-page">

    <form id="form-edit-earning" class="am-form" action="/spent/edit" method="post">

        <input type="hidden" name="earning-id" value="<%= earning.get('earningId') %>"/>

        <fieldset>

            <legend><strong>Andrea:</strong></legend>
            <div id="content-spent-user1" class="am-form-group">
                <label>支出金额(RMB)：<i>*</i> </label>
                <input id="spent-user1" required name="spent-user1" type="text" placeholder="输入支出金额" autocomplete="off" value="<%= earning.get('spentUser1') %>" />
            </div>

            <hr/>

            <div id="content-expenses-comment" class="am-form-group">
                <label>支出说明：(每笔支出请换行,可用逗号隔开个比金额)</label>
                <textarea id="spent-user1-comment" name="spent-user1-comment" rows="8" placeholder="输入支出说明"><%= earning.get('spentUser1Comment') %></textarea>
            </div>

            <hr/>

            <legend><strong>Coco:</strong></legend>
            <div id="content-spent-user2" class="am-form-group">
                <label>支出金额(RMB)：<i>*</i> </label>
                <input id="spent-user2" required name="spent-user2" type="text" placeholder="输入支出金额" autocomplete="off" value="<%= earning.get('spentUser2') %>" />
            </div>

            <hr/>

            <div id="content-expenses-comment" class="am-form-group">
                <label>支出说明：(每笔支出请换行,可用逗号隔开个比金额)</label>
                <textarea id="spent-user2-comment" name="spent-user2-comment" rows="8" placeholder="输入支出说明"><%= earning.get('spentUser2Comment') %></textarea>
            </div>

            <hr/>


            <legend><strong>王璘:</strong></legend>
            <div id="content-spent-user3" class="am-form-group">
                <label>支出金额(RMB)：<i>*</i> </label>
                <input id="spent-user3" required name="spent-user3" type="text" placeholder="输入支出金额" autocomplete="off" value="<%= earning.get('spentUser3') %>" />
            </div>

            <hr/>

            <div id="content-expenses-comment" class="am-form-group">
                <label>支出说明：(每笔支出请换行,可用逗号隔开个比金额)</label>
                <textarea id="spent-user3-comment" name="spent-user3-comment" rows="8" placeholder="输入支出说明"><%= earning.get('spentUser3Comment') %></textarea>
            </div>

            <hr/>

            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
            </div>

        </fieldset>

    </form>

</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var spent = require('spent');
        spent.editFun();
    });
</script>
</body>
</html>