<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page product-category-page">

    <fieldset>

        <div class="am-cf">

            <!-- content start -->
            <div class="admin-content admin-product-category-page">

                <legend>
                    <a href="/product-category">产品分类列表</a>
                </legend>

                <div class="am-g">
                    <form class="am-form">
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select class="select-product-method">
                                    <option value="">请选择产品类型</option>
                                    <% for (var i=0;i < productMethod.length; i++) { %>
                                    <option <% if(productMethod[i].get('productMethodId') === productMethodId ) { %> selected="selected" <% } %> value="<%= productMethod[i].get('productMethodId'); %>"><%= productMethod[i].get('name');%></option><% } %>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion>
                    <% for (var i=0;i<category.length;i++) { %>
                    <dl class="am-accordion-item" data-id="<%= category[i].get('category1Id') %>">
                        <dt class="am-accordion-title am-cf">
                            <strong><a href="/product-record?product-method-id=<%= category[i].get('productMethodId') %>&category1-id=<%= category[i].get('category1Id') %>" target="_blank"><%= category[i].get('name') %></a></strong>
                            <a href="/product-record/add?product-method-id=<%= category[i].get('productMethodId') %>&category1-id=<%= category[i].get('category1Id') %>" target="_blank">[新建]</a>
                            <span class="options">
                                <a class="edit-category-1" href="javascript:;">编辑</a>
                                <a class="moveup-category-1" href="javascript:;">上移</a>
                                <a class="movedown-category-1" href="javascript:;">下移</a>
                                <a class="remove-category-1" href="javascript:;">删除</a>
                            </span>
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <ul class="category-2-list">
                                    <% for (var j=0;j< category[i].contents.length;j++) { %>
                                    <li data-id="<%= category[i].contents[j].get('category2Id') %>">
                                        <strong>
                                            <a href="/product-record?product-method-id=<%= category[i].get('productMethodId') %>&category1-id=<%= category[i].get('category1Id') %>&category2-id=<%= category[i].contents[j].get('category2Id') %>" target="_blank"><%= category[i].contents[j].get('name') %></a>
                                        </strong>
                                        <a href="/product-record/add?product-method-id=<%= category[i].get('productMethodId') %>&category1-id=<%= category[i].get('category1Id') %>&category2-id=<%= category[i].contents[j].get('category2Id') %>" target="_blank">[新建]</a>
                                        <span class="options">
                                            <a class="edit-category-2" href="javascript:;">编辑</a>
                                            <a class="moveup-category-2" href="javascript:;">上移</a>
                                            <a class="movedown-category-2" href="javascript:;">下移</a>
                                            <a class="remove-category-2" href="javascript:;">删除</a>
                                        </span>
                                    </li>
                                    <% } %>
                                </ul>
                                <button class="am-btn am-btn-primary am-btn-xs btn-category-2-add">添加二级分类</button>
                            </div>
                        </dd>
                    </dl>
                    <%}%>
                </section>

                <% if(productMethodId) { %>
                <p><button type="button" class="am-btn am-btn-primary btn-category-1-add">添加一级分类</button></p>
                <% } %>

            </div>
            <!-- content end -->

        </div>
        
    </fieldset>

</div>






<!-- 模态窗 添加一级分类 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="modal-category-1-add">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加一级分类:</div>
        <div class="am-modal-bd">
            <input type="text" class="am-modal-prompt-input" id="input-category-1-add">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" id="modal-category-1-confirm-add">提交</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<!-- 模态窗 添加二级分类 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="modal-category-2-add">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加一级分类:</div>
        <div class="am-modal-bd">
            <input type="text" class="am-modal-prompt-input" id="input-category-2-add">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" id="modal-category-2-confirm-add">提交</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>



<!-- 模态窗 编辑一级分类 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="modal-category-1-edit">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加一级分类:</div>
        <div class="am-modal-bd">
            <input type="text" class="am-modal-prompt-input" id="input-category-1-edit">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" id="modal-category-1-confirm-edit">提交</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>

<!-- 模态窗 编辑二级分类 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="modal-category-2-edit">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加一级分类:</div>
        <div class="am-modal-bd">
            <input type="text" class="am-modal-prompt-input" id="input-category-2-edit">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" id="modal-category-2-confirm-edit">提交</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<!-- 模态窗 删除一级分类 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-category-1-remove">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除一级分类</div>
        <div class="am-modal-bd">
            你，确定要删除该一级分类吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>

<!-- 模态窗 删除二级分类 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-category-2-remove">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除二级分类</div>
        <div class="am-modal-bd">
            你，确定要删除该二级分类吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<!-- 模态窗 alert -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提示</div>
        <div class="am-modal-bd"></div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确认</span>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function () {
        var productCategory = require('product-category');
        productCategory.indexFun();
    });
</script>
</body>
</html>