<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>


<div class="am-container common-page purchase-page">

    <form id="form-edit-purchase" class="am-form" action="/purchase/edit" method="post" >

        <input type="hidden" name="purchase-id" value="<%= purchase.get('purchaseId') %>"/>
            
        <fieldset>

            <legend>编辑订单</legend>
            
            <!-- name start -->
            <div id="content-name" class="am-form-group">
                <label>订单名称简写：<i>*</i> </label>
                <input  id="purchase-name" required name="purchase-name" type="text" placeholder="输入订单名称" value="<%= purchase.get('name') %>" />
            </div>
            <!-- name end -->

            <hr/>

            <!-- description start -->
            
            <div id="content-description" class="am-form-group typeahead-content">
                <label>订单名称描述(自动填充)：</label>
                <input type="text" id="purchase-description" name="purchase-description" value="<%= purchase.get('description') %>" autocomplete="off" placeholder="输入网站名称描述"/>
            </div>
            <!-- description end -->

            <hr/>

            <!-- sitetype start -->
            <div class="am-form-group">
                <label>网站类型：</label>
                <select name="site-type" id="site-type">
                    <option value="normal" <%if(purchase.get('siteType') === 'normal') { %>selected<% } %>>默认网站</option>
                    <option value="etsy" <%if(purchase.get('siteType') === 'etsy') { %>selected<% } %> >Etsy.com</option>
                    <option value="ebay" <%if(purchase.get('siteType') === 'ebay') { %>selected<% } %> >Ebay.com</option>
                </select>
            </div>
            <!-- sitetype end -->
            
            <hr/>
            
            <!-- image start -->
            <div id="content-image" class="am-form-group">
                <label>图片展示：</label>
                <input type="hidden" id="purchase-image" name="purchase-image" value="<%= purchase.get('image') %>"/>
                <div>
                    <div class="purchase-image">
                        <img src="<%= purchase.get('image') %>" alt="">
                    </div>
                </div>
            </div>
            <!-- image end -->

            <!-- order url start -->
            <div class="am-form-group">
                <label>网站订单链接:</label>
                <input type="text" id="purchase-order-url" name="purchase-order-url" value="<%= purchase.get('orderUrl') %>">
            </div>
            <!-- order url end -->
            
            <!-- orderLink start -->
            <div id="content-order-link" class="am-form-group">
                <label>网站订单链接描述：(格式:链接必须以http://或https://开头,每一条换行,后面数量必须使用"*"表示)</label>
                <textarea id="purchase-order-link" name="purchase-order-link"  placeholder="输入网站查看订单链接" rows="5"><%= purchase.get('orderLink') %></textarea>
               
                <table class="purchase-order-link-view am-table">
                    <thead>
                        <tr>
                            <th class="t-c" width="40">图片</th>
                            <th class="t-c" width="30">数量</th>
                            <th class="t-c" width="160">操作</th>
                            <th>产品链接</th>
                            <th>标题</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- orderLink end -->

            <hr/>
            
            <!-- website start -->
            <div id="content-website" class="am-form-group">
                <label>网址：</label>
                <input type="text" id="purchase-website" name="purchase-website" placeholder="输入网址" value="<%= purchase.get('website') %>" />
            </div>
            <!-- website end -->

            <hr/>

            <!-- mail start -->
            <div id="content-mail" class="am-form-group">
                <label>对方联系邮箱：</label>
                <input  id="purchase-mail" name="purchase-mail" type="text" placeholder="输入对方联系邮箱" value="<%= purchase.get('mail') %>" />
            </div>
            <!-- mail end -->

            <hr/>

            <!-- amount start -->
            <div id="content-amount" class="am-form-group">
                <label>订单金额(RMB)：<i>*</i></label>
                <input  id="purchase-amount" name="purchase-amount" required type="text" placeholder="输入订单金额"  value="<%= purchase.get('amount') %>" />
            </div>
            <!-- amount end -->
            <hr/>

            <!-- isSolid start -->
            <div id="content-is-solid" class="am-form-group">
                <label>是否加固</label>
                <input  id="purchase-is-solid" name="purchase-is-solid" type="checkbox"
                        <%=  (purchase.get('isSolid')?'checked':'')  %>
                />
            </div>
            <!-- isSolid end -->

            <hr/>

            <!-- shippingType start -->
            <div id="content-shipping-type" class="am-form-group">
                <label>物流方式：</label>
                <select name="purchase-shipping-type" id="purchase-shipping-type">
                    <option value="yuntao" <% if(purchase.get('shippingType')==='yuntao') {%> selected="selected" <% } %> >运淘</option>
                    <option value="direct" <% if(purchase.get('shippingType')==='direct') {%> selected="selected" <% } %> >直邮</option>
                    <option value="tianji" <% if(purchase.get('shippingType')==='tianji') {%> selected="selected" <% } %> >天际</option>
                    <option value="zhuanyunsifang" <% if(purchase.get('shippingType')==='zhuanyunsifang') {%> selected="selected" <% } %> >转运四方</option>
                    <option value="haidaibao" <% if(purchase.get('shippingType')==='haidaibao') {%> selected="selected" <% } %> >海带宝</option>
                    <option value="zhuanyunbang" <% if(purchase.get('shippingType')==='zhuanyunbang') {%> selected="selected" <% } %> >转运帮</option>
                    <option value="8dexpress" <% if(purchase.get('shippingType')==='8dexpress') {%> selected="selected" <% } %> >八达网</option>
                    <option value="shunfeng" <% if(purchase.get('shippingType')==='shunfeng') {%> selected="selected" <% } %> >顺丰</option>
                    <option value="other" <% if(purchase.get('shippingType')==='other') {%> selected="selected" <% } %> >其他</option>
                    <option value="yuntao-andrea" <% if(purchase.get('shippingType')==='yuntao-andrea') {%> selected="selected" <% } %>>运淘-Andrea</option>
                    <option value="yuntao-coco" <% if(purchase.get('shippingType')==='yuntao-coco') {%> selected="selected" <% } %>>运淘-Coco</option>
                    
                </select>
            </div>
            <!-- shippingType end -->

            <hr/>

            <!-- shipping company start -->
            <div class="am-form-group">
                <label>物流公司：</label>
                <select id="purchase-shipping-company" name="purchase-shipping-company">
                    <option value="none" <% if(purchase.get('shippingCompany') === 'none'){ %>selected="selected"<% }%>>无</option>
                    <option value="usps" <% if(purchase.get('shippingCompany') === 'usps'){ %>selected="selected"<% }%>>USPS</option>
                    <option value="chinapost" <% if(purchase.get('shippingCompany') === 'chinapost'){ %>selected="selected"<% }%>>中国邮政</option>
                    <option value="ems" <% if(purchase.get('shippingCompany') === 'ems'){ %>selected="selected"<% }%>>EMS</option>
                    <option value="ups" <% if(purchase.get('shippingCompany') === 'ups'){ %>selected="selected"<% }%>>UPS</option>
                    <option value="fedex" <% if(purchase.get('shippingCompany') === 'fedex'){ %>selected="selected"<% }%>>Fedex</option>
                    <option value="dhl" <% if(purchase.get('shippingCompany') === 'dhl'){ %>selected="selected"<% }%>>DHL</option>
                    <option value="other" <% if(purchase.get('shippingCompany') === 'other'){ %>selected="selected"<% }%>>其他</option>
                </select>
            </div>
            <!-- shipping company end -->

            <hr/>

            <!-- trackingNumber start -->
            <div id="content-tracking-number" class="am-form-group">
                <label>Tracking Number：(如果是带连接http的单号则会列表页直接打开)</label>
                <input  id="purchase-tracking-number" name="purchase-tracking-number" type="text" placeholder="输入tracking number" value="<%= purchase.get('trackingNumber') %>" />
            </div>
            <!-- trackingNumber end -->

            <hr/>

            <!-- coupon start -->
            <div class="am-form-group">
                <label>coupon code:</label>
                <input id="coupon" name="coupon" type="text" placeholder="输入coupon code" value="<%= purchase.get('coupon') %>" />
            </div>
            <!-- coupon end -->

            <hr/>

            <!-- shipping status start -->
            <div class="am-form-group">
                <label>物流状态：</label>
                <select name="shipping-status">
                    <option value="notshipped"  <% if(purchase.get('shippingStatus') === 'notshipped'){ %>selected="selected"<% }%>>未发货</option>
                    <option value="shipped"  <% if(purchase.get('shippingStatus') === 'shipped'){ %>selected="selected"<% }%>>已发货</option>
                    <option value="forward"  <% if(purchase.get('shippingStatus') === 'forward'){ %>selected="selected"<% }%>>到达转运公司</option>
                    <option value="arrived" <% if(purchase.get('shippingStatus') === 'arrived'){ %>selected="selected"<% }%>>已到货</option>
                </select>
            </div>
            <!-- shipping status end -->

            <hr/>

            <!-- comment start -->
            <div id="content-comment" class="am-form-group">
                <label>备注信息：</label>
                <textarea id="purchase-comment" name="purchase-comment" rows="5" placeholder="输入备注信息"><%= purchase.get('comment') %></textarea>
            </div>
            <!-- comment end -->

            <hr/>

            
            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
            </div>

        </fieldset>

    </form>

</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var purchase = require('purchase');
        purchase.editFun();


    });
</script>
</body>
</html>