<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>


<div class="am-container common-page">

    <form id="form-edit-purchase" class="am-form" action="/purchase/edit" method="post">

        <input type="hidden" name="purchase-id" value="<%= purchase.get('purchaseId') %>"/>
            
        <fieldset>

            <legend>编辑订单</legend>
            
            <!-- name start -->
            <div id="content-name" class="am-form-group">
                <label>订单名称简写：<i>*</i> </label>
                <input  id="purchase-name" required name="purchase-name" type="text" placeholder="输入订单名称" value="<%= purchase.get('name') %>" />
            </div>
            <!-- name end -->

            <hr/>

            <!-- description start -->
            
            <div id="content-description" class="am-form-group typeahead-content">
                <label>订单名称描述(自动填充)：</label>
                <input type="text" id="purchase-description" name="purchase-description" value="<%= purchase.get('description') %>" autocomplete="off" placeholder="输入网站名称描述"/>
            </div>
            <!-- description end -->

            <hr/>

            <!-- orderLink start -->
            <div id="content-order-link" class="am-form-group">
                <label>网站查看订单链接：</label>
                <textarea id="purchase-order-link" name="purchase-order-link"  placeholder="输入网站查看订单链接" rows="5"><%= purchase.get('orderLink') %></textarea>
            </div>
            <!-- orderLink end -->

            <hr/>
            
            <!-- website start -->
            <div id="content-website" class="am-form-group">
                <label>网址：</label>
                <input type="text" id="purchase-website" name="purchase-website" placeholder="输入网址" value="<%= purchase.get('website') %>" />
            </div>
            <!-- website end -->

            <hr/>

            

            <!-- mail start -->
            <div id="content-mail" class="am-form-group">
                <label>对方联系邮箱：</label>
                <input  id="purchase-mail" name="purchase-mail" type="text" placeholder="输入对方联系邮箱" value="<%= purchase.get('mail') %>" />
            </div>
            <!-- mail end -->

            <hr/>

            <!-- amount start -->
            <div id="content-amount" class="am-form-group">
                <label>订单金额(RMB)：</label>
                <input  id="purchase-amount" name="purchase-amount" type="text" placeholder="输入订单金额"  value="<%= purchase.get('amount') %>" />
            </div>
            <!-- amount end -->

            <hr/>

            <!-- trackingNumber start -->
            <div id="content-tracking-number" class="am-form-group">
                <label>订单tracking number：</label>
                <input  id="purchase-tracking-number" name="purchase-tracking-number" type="text" placeholder="输入tracking number" value="<%= purchase.get('trackingNumber') %>" />
            </div>
            <!-- trackingNumber end -->

            <hr/>


            <!-- paymentType start -->
            <div id="content-payment-type" class="am-form-group">
                <label>支付方式：</label>
                <select name="purchase-payment-type" id="purchase-payment-type">
                    <option value="paypal" <% if(purchase.get('paymentType')==='paypal') {%> selected="selected" <% } %>  >paypal</option>
                    <option value="creditcard" <% if(purchase.get('paymentType')==='creditcard') {%> selected="selected" <% } %>>信用卡</option>
                </select>
            </div>
            <!-- paymentType end -->

            <hr/>


            <!-- paymentInfo start -->
            <div id="content-payment-info" class="am-form-group">
                <label>支付凭证：</label>
                <input  id="purchase-payment-info" name="purchase-payment-info" type="text" placeholder="输入支付凭证" value="<%= purchase.get('paymentInfo') %>" />
            </div>
            <!-- paymentInfo end -->
            
            <hr/>

            <!-- shippingType start -->
            <div id="content-shipping-type" class="am-form-group">
                <label>物流方式：</label>
                <select name="purchase-shipping-type" id="purchase-shipping-type">
                    <option value="8dexpress" <% if(purchase.get('shippingType')==='8dexpress') {%> selected="selected" <% } %>>转运-八达网</option>
                    <option value="direct" <% if(purchase.get('shippingType')==='direct') {%> selected="selected" <% } %>>直邮</option>
                </select>
            </div>
            <!-- shippingType end -->

            <hr/>

            <!-- shippingStatus start -->
            <div id="content-shipping-status" class="am-form-group">
                <label>物流状态：</label>
                <select name="purchase-shipping-status" id="purchase-shipping-status">
                    <option value="noshipped" <% if(purchase.get('shippingStatus')==='noshipped') {%> selected="selected" <% } %>>未发货</option>
                    <option value="shipped" <% if(purchase.get('shippingStatus')==='shipped') {%> selected="selected" <% } %>>已发货</option>
                    <option value="forward" <% if(purchase.get('shippingStatus')==='forward') {%> selected="selected" <% } %>>已到达转运公司</option>
                    <option value="arrived" <% if(purchase.get('shippingStatus')==='arrived') {%> selected="selected" <% } %>>已到货</option>
                </select>
            </div>
            <!-- shippingStatus end -->

            <hr/>

            <!-- comment start -->
            <div id="content-comment" class="am-form-group">
                <label>备注信息：</label>
                <textarea id="purchase-comment" name="purchase-comment" rows="5" placeholder="输入备注信息"><%= purchase.get('comment') %></textarea>
            </div>
            <!-- comment end -->

            <hr/>

            
            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
            </div>

        </fieldset>

    </form>

</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var purchase = require('purchase');
        purchase.editFun();
    });
</script>
</body>
</html>