<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page purchase-page">

    <% if (flash.success != '') { %>
    <div class="am-alert am-alert-success">
        <p><%= flash.success %></p>
    </div>
    <% } %>
    
        <fieldset>

            <legend><a href="/purchase">采购订单列表</a></legend>

            <form class="am-form-inline" role="form" action="/purchase">
                <div class="am-form-group">
                  搜索订单：<input type="text" name="purchase-search" class="am-form-field" placeholder="搜索">
                </div>
                <button type="submit" class="am-btn am-btn-primary">搜索</button>
            </form>

            <hr/>
            
            <table class="am-table">
                <thead>
                <tr>
                    <th>订单名称</th>
                    <th class="small-screen-hide">网站名称</th>
                    <th>物流方式</th>
                    <th>创建时间</th>
                    <th class="small-screen-hide">更新时间</th>
                    <th class="small-screen-hide">删除</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < purchase.length; i++) {%>
                <tr>
                    <td><a href="/purchase/edit/<%= purchase[i].get('purchaseId') %>"> <% if (purchase[i].get('image')) { %><img src="<%= purchase[i].get('image') %>" width="40" /><% } %> <%= purchase[i].get('name') %></a> </td>
                    <td class="small-screen-hide"><%= purchase[i].get('website') %></td>
                    <td class="t-c">
                        <% if(purchase[i].get('shippingType') === '8dexpress') { %>八达<%  } %>
                        <% if(purchase[i].get('shippingType') === 'tianji') { %>天际<%  } %>
                        <% if(purchase[i].get('shippingType') === 'direct') { %>直邮<%  } %>
                    </td>
                    <td><%=purchase[i].createdAt.getFullYear()%>-<%=(purchase[i].createdAt.getMonth()+1)%>-<%=purchase[i].createdAt.getDate()%></td>
                    <td class="small-screen-hide"><%=purchase[i].updatedAt.getFullYear()%>-<%=(purchase[i].updatedAt.getMonth()+1)%>-<%=purchase[i].updatedAt.getDate()%></td>
                    <td class="small-screen-hide"><a href="/purchase/remove/<%= purchase[i].get('purchaseId') %>" class="remove-purchase">删除</a> </td>
                </tr>
                <% } %>
                </tbody>
            </table>
            
            <ul class="am-pagination">
                <% if (purchasePager.prev) { %> <li>
                    <a href="/purchase?page=<%= purchasePager.prev %><% if (search) {%>&purchase-search=<%=search%> <%}%>">上一页</a></li> <% } %>
                <% if (purchasePager.next) { %> <li>
                    <a href="/purchase?page=<%= purchasePager.next %><% if (search) {%>&purchase-search=<%=search%> <%}%>">下一页</a></li> <% } %>
                <li class="count">第<%=purchasePager.page%>页 共<%=purchaseCount%>条</li>
            </ul>
            
            <hr/>

            <div class="am-form-group">
                <a href="/purchase/add" class="am-btn am-btn-primary" role="button">添加订单记录</a>
            </div>

        </fieldset>


</div>


<div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-remove-purchase">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var purchase = require('purchase');
        purchase.indexFun();
    });
</script>
</body>
</html>